// Wrapper
.wrapper {
    @extend %clearfix;

    margin: 0 auto;
    position: relative;
    width: 100%;

    @include pad(0 default);

    @media #{$sm} { max-width: $wrap-sm-max-width; }
    @media #{$md} { max-width: $wrap-md-max-width; }
    @media #{$lg} { max-width: $wrap-lg-max-width; }
}

/* Row */
.row {
    @extend %clearfix;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;

    & + & { margin-top: $gutter-width; }

    @media #{$sm} { flex-wrap: nowrap; }
}

// Column
.col {
    display: flex;
    margin: auto;
    min-height: 1px;
    position: relative;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex: 0 1 auto;
    flex-direction: column;

    @include pad(default $gutter-width/2);
}
