hr.large {   margin: 2rem auto; }
hr.larger { margin: 4rem auto; }

hr.narrow { width: 20%; }

hr.thick {   border-top-width: 2px; }
hr.thicker { border-top-width: 5px; }

hr.dotted { border-top-style: dotted; }
hr.dashed { border-top-style: dashed; }